/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

@use 'vuetify/settings' with ($body-font-family: ('DM Sans', sans-serif),
    $heading-font-family: ('Playfair Display', serif),
    $font-size-root: 1.125rem,
    $line-height-root: 1.5);